*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

:root {
  --primary-color: hsl(171, 66%, 44%);
  --primary-color-2: hsl(233, 100%, 69%);
  --secondary-color: hsl(210, 10%, 33%);
  --secondary-color-2: hsl(201, 11%, 66%);
  --secondary-color-transparent: hsla(212, 10%, 33%, 0.153); }

.mb-sm {
  margin-bottom: 1rem; }

.mb-md {
  margin-bottom: 2rem; }

.mb-bg {
  margin-bottom: 3rem; }

.mb-hg {
  margin-bottom: 8rem; }

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.benefits {
  padding: 6rem 0;
  text-align: center; }
  .benefits__content {
    margin-top: 7rem;
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    gap: 2rem; }
  .benefits__item {
    flex: 1; }
  .benefits__img {
    width: 4.2rem;
    height: 3.2rem;
    margin-bottom: 3rem; }

.logo {
  width: 12rem;
  height: auto;
  margin-top: 6rem; }

.btn:link, .btn:visited {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 5rem;
  display: inline-block; }

.btn--1 {
  background-color: var(--primary-color);
  box-shadow: 0 0.5rem 1.5rem rgba(38, 186, 164, 0.5); }
  .btn--1:hover, .btn--1:active {
    background-color: #2acfb7;
    cursor: pointer; }

.btn--2 {
  background-color: var(--primary-color-2);
  box-shadow: 0 0.5rem 1.5rem rgba(97, 115, 255, 0.5); }
  .btn--2:hover, .btn--2:active {
    background-color: #7a8aff;
    cursor: pointer; }

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem; }

.cta {
  padding: 10rem 0;
  text-align: center; }

.features {
  padding: 5rem 0;
  text-align: center; }
  .features__content {
    display: flex;
    align-items: center;
    gap: 8rem;
    text-align: left; }
  .features__img {
    transform: translateX(-3rem); }
  .features__collection {
    flex: 1; }
  .features__collection-item:not(:last-child) {
    margin-bottom: 3rem; }

.footer {
  padding: 4rem 0;
  background-color: var(--secondary-color-transparent);
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(7, [col-start] minmax(min-content, 14rem) [col-end]) minmax(6rem, 1fr);
  grid-template-rows: min-content min-content;
  column-gap: 3rem;
  justify-items: start;
  align-items: center; }
  .footer__img--1 {
    grid-row: 1 / -1;
    grid-column: col-start 1 / col-end 1;
    width: 7rem;
    height: 7rem; }
  .footer__img--2 {
    grid-column: col-start 7 / col-end 7;
    grid-row: 2/3; }
  .footer__img--3 {
    grid-column: col-start 7 / col-end 7;
    grid-row: 2/3;
    transform: translateX(4rem); }
  .footer__img--4 {
    grid-column: col-start 7 / col-end 7;
    grid-row: 2/3;
    transform: translateX(8rem); }
  .footer__img:hover {
    filter: saturate(120); }
  .footer__paragraph {
    font-size: 1.6rem;
    color: var(--secondary-color); }
    .footer__paragraph:hover {
      color: var(--primary-color); }
    .footer__paragraph--1 {
      grid-column: col-start 2 / col-end 2; }
    .footer__paragraph--2 {
      grid-column: col-start 3 / col-end 3; }
    .footer__paragraph--3 {
      grid-column: col-start 4 / col-end 4; }
    .footer__paragraph--4 {
      grid-column: col-start 2 / col-end 2; }
    .footer__paragraph--5 {
      grid-column: col-start 3 / col-end 3; }

.header {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/bg-header-desktop.png);
  background-blend-mode: color-burn;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .header__content {
    text-align: center;
    padding: 5rem 0; }

.properties {
  padding: 5rem 0;
  text-align: center; }
  .properties__img {
    margin-top: 8rem; }

.sponsors {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem; }

.heading-1, .heading-2, .heading-3 {
  color: var(--secondary-color); }

.paragraph, .paragraph--small {
  color: var(--secondary-color-2);
  width: 60%; }

.heading-1 {
  font-size: 4.3rem; }

.heading-2 {
  font-size: 3.3rem;
  text-align: center; }

.heading-3 {
  font-size: 2.3rem; }

.paragraph {
  font-size: 2rem;
  margin: 0 auto; }
  .paragraph--small {
    font-size: 1.6rem; }
  .paragraph--1 {
    font-size: 1.7rem;
    margin: 0;
    width: 100%;
    margin-top: 3rem; }
