.benefits {
  padding: 10rem 0;
  text-align: center;

  @include respond(phone) {
    padding: 5rem 0;
  }

  &__content {
    margin-top: 7rem;
    padding: 0 10rem;

    display: flex;
    justify-content: center;
    gap: 2rem;

    @include respond(tab-land) {
      padding: 0 6rem;
    }

    @include respond(tab-port-1) {
      flex-direction: column;
      gap: 7rem;
    }
  }

  &__item {
    flex: 1;
  }

  &__img {
    width: 4.2rem;
    height: 3.2rem;
    margin-bottom: 3rem;

    @include respond(tab-land) {
      margin-bottom: 2rem;
      width: 5rem;
      height: 4rem;
    }
  }
}