.logo {
  width: 12rem;
  height: auto;
  margin-top: 6rem;
}

.btn {
  &:link,
  &:visited {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 5rem;
    display: inline-block;
  }

  &--1 {
    background-color: var(--primary-color);
    box-shadow: 0 .5rem 1.5rem hsla(171, 66%, 44%, .5);
  }

  &--2 {
    background-color: var(--primary-color-2);
    box-shadow: 0 .5rem 1.5rem hsla(233, 100%, 69%, .5);
  }
}