.logo {
  width: 12rem;
  height: auto;
  margin-top: 6rem;
}

.btn {

  &-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;

    @include respond(phone) {
      flex-direction: column;
      padding: 0 8rem;
    }
  }

  &:link,
  &:visited {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 5rem;

    @include respond(tab-land) {
      font-size: 3.5rem;
      padding: 2.5rem 3.5rem;
    }

    @include respond(tab-port) {
      font-size: 3.5rem;
      padding: 2.5rem 3.5rem;
    }

    @include respond(tab-port) {
      font-size: 3rem;
      padding: 2.5rem 3.5rem;
    }
  }


  &--1 {
    background-color: var(--primary-color);
    box-shadow: 0 .5rem 1.5rem hsla(171, 66%, 44%, .5);

    &:hover,
    &:active {
      background-color: lighten($primary-color, 5);
      cursor: pointer;
    }
  }

  &--2 {
    background-color: var(--primary-color-2);
    box-shadow: 0 .5rem 1.5rem hsla(233, 100%, 69%, .5);

    &:hover,
    &:active {
      background-color: lighten($primary-color-2, 5);
      cursor: pointer;
    }
  }
}