.sponsors {
  padding: 10rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  @include respond(phone) {
    flex-direction: column;
  }

  @include respond(tab-land) {    
    flex-wrap: wrap;
    gap: 6rem;
  }
}